[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1"
garpixcms = "==1.9.0"
transliterate = "==1.10.2"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
